<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDAFF9821F09ED9B00363C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDAFF9981F09ED9B00363C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDAFF9A31F09ED9C00363C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
